# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

.cpcache/
node_modules/

.nrepl-port
.clj-kondo/
.lsp/.cache

dev-resources/public/output.css

logs/
resources/pomp-tailwind-classes.txt

tmp/
test-results/
target/
